Gemfile.lock
.project
_site/

# Ignore LaTeX output files for user guide investigation
_userguide-sources/**/*.aux
_userguide-sources/**/*.log
_userguide-sources/**/*.out
_userguide-sources/**/*.pdf
_userguide-sources/**/*.synctex.gz
