Gemfile.lock
.project
_site/

# Ignore LaTeX output files for user guide investigation
_userguide-investigation/latex/*.aux
_userguide-investigation/latex/*.log
_userguide-investigation/latex/*.out
_userguide-investigation/latex/*.pdf
_userguide-investigation/latex/*.synctex.gz
