<div id="side-bar">
  <div class="leftSideBar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://sourceforge.net/projects/jikesrvm" class="external-link">Sourceforge Project</a></li>
      <li><a href="/ProjectStatus/">Project Status</a></li>
      <li><a href="/News/">News</a></li>
      <li><a href="/License/">License</a></li>
      <li><a href="/FAQ/">FAQs</a></li>
      <li><a href="/Acknowledgments/">Acknowledgments</a></li>
    </ul>
    <div class="section_4"><h4 id="NavigationResources/"><a href="/Resources">Resources</a></h4>
      <ul>
	<li><a href="/Resources/CurrentUsers/">Current Users</a></li>
        <li><a href="/Resources/Publications/">Publications</a></li>
        <li><a href="/Resources/Presentations/">Presentations</a></li>
        <li><a href="/Resources/ResearchArchive/">Research Archive</a></li>
      </ul>
    </div>
    <div class="section_4"><h4 id="Navigation-Documentation">Documentation</h4>
      <ul>
	<li><a href="/UserGuide/">User Guide</a></li>
	<li><a href="http://jikesrvm.sourceforge.net/apidocs/latest/" class="external-link">API Docs</a></li>
	<li><a href="/RegressionTests/">Regression Tests</a></li>
      </ul>
    </div>
    <div class="section_4"><h4 id="Navigation-ProjectInformation">Project Information</h4>
      <ul>
	<li><a href="/ProjectOrganization/">Project Organization</a></li>
	<li><a href="/Contributions/">Contributions</a></li>
	<li><a href="/HowToHelp/">How to Help</a></li>
	<li><a href="/ReportingBugs/">Reporting Bugs</a></li>
      </ul>
    </div>
  </div>
</div>
