<div id="side-bar">
  <div class="leftSideBar">
    <ul>
      <li><a href="/Home">Home</a></li>
      <li><a href="https://sourceforge.net/projects/jikesrvm" class="external-link">Sourceforge Project</a></li>
      <li><a href="/Project+Status">Project Status</a></li>
      <li><a href="/News">News</a></li>
      <li><a href="/License.html">License</a></li>
      <li><a href="/FAQ">FAQs</a></li>
      <li><a href="/Acknowledgments">Acknowledgments</a></li>
    </ul>
    <div class="section_4"><h4 id="Navigation-Resources"><a href="/Resources">Resources</a></h4>
      <ul>
	<li><a href="/Current+Users">Current Users</a></li>
        <li><a href="/Publications">Publications</a></li>
        <li><a href="/Presentations">Presentations</a></li>
        <li><a href="/Resources#Resources-teaching">Teaching Resources</a></li>
        <li><a href="/Research+Archive">Research Archive</a></li>
      </ul>
    </div>
    <div class="section_4"><h4 id="Navigation-Documentation">Documentation</h4>
      <ul>
	<li><a href="/User+Guide">User Guide</a></li>
	<li><a href="http://jikesrvm.sourceforge.net/apidocs/latest/" class="external-link">API Docs</a></li>
	<li><a href="/Regression+Tests">Regression Tests</a></li>
      </ul>
    </div>
    <div class="section_4"><h4 id="Navigation-ProjectInformation">Project Information</h4>
      <ul>
	<li><a href="/Project+Organization">Project Organization</a></li>
	<li><a href="/Contributions">Contributions</a></li>
	<li><a href="/How+to+Help">How to Help</a></li>
	<li><a href="/Reporting+Bugs">Reporting Bugs</a></li>
      </ul>
    </div>
  </div>
</div>
