<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <body>

  <div id="header">
      <h1 class="headerTitle">
        <a href="/" title="Browse to homepage">
          Jikes <span>RVM</span>
        </a>
      </h1>
  </div>

  {% include quicklinks.html %}
  {% include sidebar.html %}

  <div id="main-copy">
    <h1 class="page-title">{{ page.title }}</h1>

   {{ content }}

  <h3>Recent Jikes RVM Project News</h3>
<ul>
  {% for post in site.posts limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%d %B %Y" }})  
      {{ post.content }}
    </li>
  {% endfor %}
</ul>

  </div>


  </body>
</html>
